In [41]:
import import_ipynb
from utils import request_influxdb
from datetime import datetime, timezone, timedelta
import pandas as pd
from io import StringIO
from pm25_to_aqi import equation1

In [42]:
# Load Tangaras
tangaras = pd.read_csv('../db/csv/tangara.csv')
tangaras.shape

(25, 13)

In [43]:
tangaras.head()

,id,mac,geohash,codigo,latitud,longitud,id_barrio,id_sector,id_areaexp,id_areapro,online,created,updated
0,1,D29ESP32DE02BBA,d29e6b4,TANGARA_2BBA,3.384476,-76.516342,NaN,NaN,NaN,NaN,0,2023-05-28T17:42:45.488386-05:00,2023-05-28T17:42:45.488386-05:00
1,2,D29ESP32DE0DD66,d29dbmw,TANGARA_DD66,3.326797,-76.620712,NaN,NaN,NaN,NaN,0,2023-05-28T17:42:45.488386-05:00,2023-05-28T17:42:45.488386-05:00
2,3,D29ESP32DE0E752,d29dbmw,TANGARA_E752,3.326797,-76.620712,NaN,NaN,NaN,NaN,0,2023-05-28T17:42:45.488386-05:00,2023-05-28T17:42:45.488386-05:00
3,4,D29ESP32DE1260A,d29dbmw,TANGARA_260A,3.326797,-76.620712,NaN,NaN,NaN,NaN,0,2023-05-28T17:42:45.488386-05:00,2023-05-28T17:42:45.488386-05:00
4,5,D29ESP32DE94B1A,d29dbmw,TANGARA_4B1A,3.326797,-76.620712,NaN,NaN,NaN,NaN,0,2023-05-28T17:42:45.488386-05:00,2023-05-28T17:42:45.488386-05:00

In [44]:
mac_addresses = tangaras['mac'].to_list()

In [45]:
def pm25_realtime(mac_addresses):
    # ISO 8601 Format, TZ='America/Bogota' -05:00, Last 5 minutes
    tz_bogota_co = timezone(offset=-timedelta(hours=5), name='America/Bogota')
    time_delta = timedelta(minutes=5)
    # Start DateTime
    start_datetime = (datetime.now(tz=tz_bogota_co) - time_delta).timestamp()
    start_datetime = int(start_datetime) * 1000
    # End DateTime
    end_datetime = datetime.now(tz=tz_bogota_co).timestamp()
    end_datetime = int(end_datetime) * 1000
    # Perdiod DateTime
    period_time = f"time >= {start_datetime}ms AND time <= {end_datetime}ms"
    # SQL Query
    sql_query = f"SELECT mean(\"pm25\") " \
                "FROM \"fixed_stations_01\" WHERE ("
    for mac in mac_addresses:
        sql_query += f"\"name\" = '{mac}' OR "
    sql_query = sql_query[:-4]
    sql_query += f") AND " \
                 f"{period_time} " \
                 f"GROUP BY time(1m) fill(none);"
    # InfluxDB API REST Request
    influxdb_request = request_influxdb(sql_query)
    # DataFrame last 5 minutes
    df_realtime = pd.read_csv(StringIO(influxdb_request.text), sep=",", low_memory=False)
    #print(df_realtime)
    # Remove/Add Columns
    df_realtime = df_realtime[['time', 'mean']]
    df_realtime.rename(columns={'time': 'DATETIME', 'mean': 'PM25'}, inplace=True)
    # Date Time ISO 8601 Format, TZ='America/Bogota' -05:00
    df_realtime['DATETIME'] = df_realtime['DATETIME'].apply(lambda x: datetime.fromtimestamp(int(x) / 1000, tz=tz_bogota_co).isoformat())
    # AQI
    df_realtime['AQI'] = df_realtime['PM25'].apply(lambda x: equation1(x))
    #
    return df_realtime

In [46]:
# PM25 realtime, last 5 minures
df_realtime = pm25_realtime(mac_addresses)

pm25_mean = df_realtime['PM25'].mean()
print('pm25_mean:', round(pm25_mean, 2))
print('aqi_mean:', equation1(pm25_mean))

df_realtime.head()

pm25_mean: 11.93
aqi_mean: 50

                    DATETIME       PM25  AQI
0  2023-06-04T00:06:00-05:00  12.000000   50
1  2023-06-04T00:07:00-05:00  11.892857   50
2  2023-06-04T00:08:00-05:00  11.428571   48
3  2023-06-04T00:09:00-05:00  12.428571   52
4  2023-06-04T00:10:00-05:00  11.964286   50

In [47]:
def pm25_last_1_hour(mac_addresses):
    # ISO 8601 Format, TZ='America/Bogota' -05:00, Last 1 hour
    tz_bogota_co = timezone(offset=-timedelta(hours=5), name='America/Bogota')
    time_delta = timedelta(hours=1)
    # Start DateTime
    start_datetime = (datetime.now(tz=tz_bogota_co) - time_delta).timestamp()
    start_datetime = int(start_datetime) * 1000
    # End DateTime
    end_datetime = datetime.now(tz=tz_bogota_co).timestamp()
    end_datetime = int(end_datetime) * 1000
    # Perdiod DateTime
    period_time = f"time >= {start_datetime}ms AND time <= {end_datetime}ms"
    # SQL Query
    sql_query = f"SELECT mean(\"pm25\") " \
                "FROM \"fixed_stations_01\" WHERE ("
    for mac in mac_addresses:
        sql_query += f"\"name\" = '{mac}' OR "
    sql_query = sql_query[:-4]
    sql_query += f") AND " \
                 f"{period_time} " \
                 f"GROUP BY time(1h) fill(none);"
    # InfluxDB API REST Request
    influxdb_request = request_influxdb(sql_query)
    # DataFrame last 1 hour
    df_last_1_hour = pd.read_csv(StringIO(influxdb_request.text), sep=",", low_memory=False)
    #print(df_last_1_hour)
    # Remove/Add Columns
    df_last_1_hour = df_last_1_hour[['time', 'mean']]
    df_last_1_hour.rename(columns={'time': 'DATETIME', 'mean': 'PM25'}, inplace=True)
    # Date Time ISO 8601 Format, TZ='America/Bogota' -05:00
    df_last_1_hour['DATETIME'] = df_last_1_hour['DATETIME'].apply(lambda x: datetime.fromtimestamp(int(x) / 1000, tz=tz_bogota_co).isoformat())
    # AQI
    df_last_1_hour['AQI'] = df_last_1_hour['PM25'].apply(lambda x: equation1(x))
    #
    return df_last_1_hour

In [48]:
# PM25 Last Hour, last 1 hour
df_last_1_hour = pm25_last_1_hour(mac_addresses)

pm25_mean = df_last_1_hour['PM25'].mean()
print('pm25_mean:', round(pm25_mean, 2))
print('aqi_mean:', equation1(pm25_mean))

df_last_1_hour.head()

pm25_mean: 12.4
aqi_mean: 52

                    DATETIME       PM25  AQI
0  2023-06-03T23:00:00-05:00  12.727341   53
1  2023-06-04T00:00:00-05:00  12.073248   51

In [49]:
def pm25_last_24_hours(mac_addresses):
    # ISO 8601 Format, TZ='America/Bogota' -05:00, Last 24 hours
    tz_bogota_co = timezone(offset=-timedelta(hours=5), name='America/Bogota')
    time_delta = timedelta(hours=24)
    # Start DateTime
    start_datetime = (datetime.now(tz=tz_bogota_co) - time_delta).timestamp()
    start_datetime = int(start_datetime) * 1000
    # End DateTime
    end_datetime = datetime.now(tz=tz_bogota_co).timestamp()
    end_datetime = int(end_datetime) * 1000
    # Perdiod DateTime
    period_time = f"time >= {start_datetime}ms AND time <= {end_datetime}ms"
    # SQL Query
    sql_query = f"SELECT mean(\"pm25\") " \
                "FROM \"fixed_stations_01\" WHERE ("
    for mac in mac_addresses:
        sql_query += f"\"name\" = '{mac}' OR "
    sql_query = sql_query[:-4]
    sql_query += f") AND " \
                 f"{period_time} " \
                 f"GROUP BY time(1h) fill(none);"
    # InfluxDB API REST Request
    influxdb_request = request_influxdb(sql_query)
    # DataFrame last 24 hours
    df_last_24_hours = pd.read_csv(StringIO(influxdb_request.text), sep=",", low_memory=False)
    #print(df_last_24_hours)
    # Remove/Add Columns
    df_last_24_hours = df_last_24_hours[['time', 'mean']]
    df_last_24_hours.rename(columns={'time': 'DATETIME', 'mean': 'PM25'}, inplace=True)
    # Date Time ISO 8601 Format, TZ='America/Bogota' -05:00
    df_last_24_hours['DATETIME'] = df_last_24_hours['DATETIME'].apply(lambda x: datetime.fromtimestamp(int(x) / 1000, tz=tz_bogota_co).isoformat())
    # AQI
    df_last_24_hours['AQI'] = df_last_24_hours['PM25'].apply(lambda x: equation1(x))
    #
    return df_last_24_hours

In [50]:
# PM25 Last Hour, last 24 hours
df_last_24_hours = pm25_last_24_hours(mac_addresses)

pm25_mean = df_last_24_hours['PM25'].mean()
print('pm25_mean:', round(pm25_mean, 2))
print('aqi_mean:', equation1(pm25_mean))
print("df_last_24_hours.shape:", df_last_24_hours.shape)

df_last_24_hours.head()

pm25_mean: 11.49
aqi_mean: 48
df_last_24_hours.shape: (25, 3)

                    DATETIME       PM25  AQI
0  2023-06-03T00:00:00-05:00  11.378058   48
1  2023-06-03T01:00:00-05:00  10.844194   46
2  2023-06-03T02:00:00-05:00  10.650803   45
3  2023-06-03T03:00:00-05:00  10.335518   43
4  2023-06-03T04:00:00-05:00  12.285714   52

In [51]:
df_last_24_hours.tail()

                     DATETIME       PM25  AQI
20  2023-06-03T20:00:00-05:00   7.146283   30
21  2023-06-03T21:00:00-05:00   9.831848   41
22  2023-06-03T22:00:00-05:00  12.745985   53
23  2023-06-03T23:00:00-05:00  12.868675   53
24  2023-06-04T00:00:00-05:00  12.043887   50